<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="all.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kite+One">
    <style> body {font-family: 'Kite One';}</style> 
</head>
<body>
    <div id="bg">
        <div id="bg2">
            <p id="title"><b>The Slavic Stove</b>
                <a href="/menu" class="bt"><b>Menu</b></a>
                <a href="/order" class="bt"><b>Order</b></a>
                <a href="/find" class="bt"><b>Find</b></a>
                <a href="/" class="bt"><b>Our Story</b></a>
            </p>
        </div>

        <div class="section">
            <p class="sectitle"><b>About Our Food</b></p>
            <img src="images/meal.jpg" id="steakimg" alt="Cooked Steak Image">
            <p id="aoftext">
                The Slavic Stove serves up hearty and flavorful Eastern European cuisine.
                The menu features classic dishes like pierogies, borscht, and schnitzel, as well as more unique offerings like stuffed cabbage rolls and potato pancakes.
                Pierogies are a favorite, with fillings like cheese and potato or sweet fruit and cheese.
                The Slavic Stove celebrates the rich flavors and traditions of Eastern Europe, with every dish a taste of home.
                At The Slavic Stove, the chefs take great care in using high-quality, locally sourced ingredients to ensure that every dish is both delicious and healthy.
                The restaurant is committed to supporting local farmers and suppliers, and many of the vegetables, meats, and dairy products used in the kitchen come from nearby farms and producers.
                The chefs also use traditional cooking techniques that preserve the nutrients and flavors of the ingredients, resulting in dishes that are not only satisfying but also packed with nutrients.
                For example, the borscht soup is made with beets, which are a great source of fiber, potassium, and vitamin C, while the stuffed cabbage rolls are filled with a blend of ground pork and healthy vegetables like carrots and onions.
                The Slavic Stove's commitment to using local ingredients and healthy cooking techniques has won over health-conscious diners who are looking for tasty and nutritious options when dining out.
                The restaurant's menu is a testament to the belief that healthy eating and delicious food can go hand in hand, making it a popular destination for foodies and health enthusiasts alike.

            </p>
        </div>

        <div class="section">
            <p class="sectitle"><b>Our Founders</b></p>
            <img src="images/founder1.jpg" id="fimg" alt="Founder1">
            <img src="images/founder2.jpg" id="fimg2" alt="Founder2">
            <p id="ftext"> 
                Adam A. Melamed and Michael V. Howe, two renowned restaurant owners, joined forces to open The Slavic Stove, a restaurant that served authentic Eastern European cuisine.
                The restaurant quickly became a sensation, with customers raving about the delicious pierogies, borscht, and schnitzel.
                Michael's efficient management ensured there was never a long wait for a table.
                Adam and Michael continued to innovate, adding new dishes to the menu and incorporating seasonal ingredients.
                The Slavic Stove remained a beloved fixture in the city's dining scene, and Adam and Michael were grateful for their successful partnership and the opportunity to share their passion for food and hospitality with the world.
            </p>
        </div>

        <div class="section">
            <p class="sectitle"><b>Our Community</b></p>
            <img src="images/com1.jpg" class="ocimg" alt="Com1">
            <img src="images/com2.jpg" class="ocimg" alt="Com2">
            <img src="images/com3.jpg" class="ocimg" alt="Com3">
            <img src="images/com4.jpg" class="ocimg" alt="Com4">
            <img src="images/com5.jpg" class="ocimg" alt="Com5">
            <img src="images/com6.jpg" class="ocimg" alt="Com6">
            <p id="ourctext"> 
                The Slavic Stove is deeply committed to giving back to the Washington DC community.
                The restaurant regularly participates in local charity events and fundraising efforts, donating a portion of its profits to organizations that support community development, education, and social justice initiatives.
                In addition, The Slavic Stove hosts an annual "Community Night," where members of the local community are invited to enjoy a free meal and live entertainment.
                This event is a celebration of the diversity and richness of the neighborhood, and a way for the restaurant to show its appreciation for the support it has received over the years.
                Through its community outreach efforts, The Slavic Stove has become a valued and respected member of the Washington DC community.
                The restaurant's dedication to supporting local causes and fostering a sense of community is an inspiration to other businesses in the area and a shining example of the positive impact that can be made by giving back.
            </p>
        </div>
    </div>
</body>
</html>